<div class="row pt-3">
    <div class="col-1"></div>
    <div class="col-3">

        <!-- LEFT PLAYER -->
        <div class="row border">
            <p *ngIf="phase == 'selectPlayers'">SELECT PLAYER USERNAME</p>
            <p *ngIf="phase != 'selectPlayers'">{{playerA}}</p>
        </div>
        <div class="row border">
            <div class="col-8 border"><p>ICON</p></div>
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
        </div>

        <!-- LEFT BOT (BOT B) -->
        <div class="row border mt-5">
            <p>{{playerB}}-bot</p>
        </div>
        <div class="row border">
            <div class="col-8 border"><p>ICON</p></div>
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
        </div>

        <!-- BOT CARDS -->
        <div class="row border mt-3" style="height: 80px">
            <div class="col-2" *ngFor="let card of botBCards">{{card}}</div>
        </div>
    </div>

    
    <div class="col-4">
        <!-- SCORE -->
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2 border">0</div>
            <div class="col-2 border">0</div>
            <div class="col-4"></div>
        </div>

        <!-- CARDS PLAYED -->
        <div class="row pt-5">
            <div class="col-3"></div>
            <div class="col-6 border">
                <div class="row">
                    <div *ngFor="let cardIndex of [0,1,3,2]" class="col-6 border" style="height: 100px">
                        {{cardsPlayed[cardIndex]}}
                    </div>
                    <!-- <div class="col-6 border" style="height: 100px">
                        X
                    </div>
                    <div class="col-6 border" style="height: 100px">
                        X
                    </div>
                    <div class="col-6 border" style="height: 100px">
                        X
                    </div> -->
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="col-3">

        <!-- RIGHT PLAYER -->
        <div class="row border">
            <p *ngIf="phase == 'selectPlayers'">SELECT PLAYER USERNAME</p>
            <p *ngIf="phase != 'selectPlayers'">{{playerB}}</p>
        </div>
        <div class="row border">
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
            <div class="col-8 border"><p>ICON</p></div>
        </div>

        <!-- RIGHT BOT (BOT A) -->
        <div class="row border mt-5">
            <p>{{playerA}}-bot</p>
        </div>
        <div class="row border">
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
            <div class="col-8 border"><p>ICON</p></div>
        </div>
        
        <!-- BOT CARDS -->
        <div class="row border mt-3" style="height: 80px">
            <div class="col-2" *ngFor="let card of botACards">{{card}}</div>
        </div>
    </div>


    <div class="col-1"></div>
</div>

<hr>





<!-- Bottom menu -->


<div class="row">
    <div class="col-8">
        <!-- Player username selection -->
        <div *ngIf="phase == 'selectPlayers'" class="row">
            <mat-form-field class="col-12">
                <mat-label>Enter left player username</mat-label>
                <input type="text" matInput [formControl]="playerASelection" required [matAutocomplete]="auto">
    
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for (option of playerNames; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            
            </mat-form-field>

            <mat-form-field class="col-12">
                <mat-label>Enter right player username</mat-label>
                <input type="text" matInput [formControl]="playerBSelection" required [matAutocomplete]="auto">
    
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for (option of playerNames; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            
            </mat-form-field>
        </div>

        <!-- Card Selection -->
        <div *ngIf="cardSelectionMenu" class="row">
            <mat-radio-group class="col-12" [formControl]="cardValueSelection">
                <mat-radio-button value="9">9</mat-radio-button>
                <mat-radio-button value="T">10</mat-radio-button>
                <mat-radio-button value="J">Jack</mat-radio-button>
                <mat-radio-button value="Q">Queen</mat-radio-button>
                <mat-radio-button value="K">King</mat-radio-button>
                <mat-radio-button value="A">Ace</mat-radio-button>
            </mat-radio-group>

            <mat-radio-group class="col-12" [formControl]="cardSuitSelection">
                <mat-radio-button value="H">Hearts</mat-radio-button>
                <mat-radio-button value="D">Diamonds</mat-radio-button>
                <mat-radio-button value="C">Clubs</mat-radio-button>
                <mat-radio-button value="S">Spades</mat-radio-button>
            </mat-radio-group>

            <button mat-raised-button class="col-6" (click)="addCard()">ADD CARD</button>
            <button mat-raised-button class="col-6" (click)="removeCard()">REMOVE CARD</button>
        </div>

        <!-- <mat-form-field>
            <mat-label>Enter name</mat-label>
            <input type="text" matInput [formControl]="name" required [matAutocomplete]="auto">

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                @for (option of playerNames; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-autocomplete>
        
        </mat-form-field>
        
        <mat-radio-group [formControl]="radioValues">
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
        </mat-radio-group>
        
        <button mat-raised-button (click)="sendReq()">CLICK ME</button> -->

        
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12 border" style="height: 150px">
                <h5>{{outputMessage}}</h5>
            </div>
            <div class="col-12">
                <button mat-raised-button (click)="submitValues()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>


