<div class="row pt-3">
    <div class="col-1"></div>
    <div class="col-3">

        <!-- LEFT PLAYER -->
        <div class="row border"><p>USERNAME</p></div>
        <div class="row border">
            <div class="col-8 border"><p>ICON</p></div>
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
        </div>

        <!-- LEFT BOT -->
        <div class="row border mt-5"><p>USERNAME</p></div>
        <div class="row border">
            <div class="col-8 border"><p>ICON</p></div>
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
        </div>

        <!-- BOT CARDS -->
        <div class="row border mt-3" style="height: 80px">CARDS</div>
    </div>

    
    <div class="col-4">
        <!-- SCORE -->
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2 border">0</div>
            <div class="col-2 border">0</div>
            <div class="col-4"></div>
        </div>

        <!-- CARDS PLAYED -->
        <div class="row pt-5">
            <div class="col-3"></div>
            <div class="col-6 border">
                <div class="row">
                    <div class="col-6 border" style="height: 100px">
                        X
                    </div>
                    <div class="col-6 border" style="height: 100px">
                        X
                    </div>
                    <div class="col-6 border" style="height: 100px">
                        X
                    </div>
                    <div class="col-6 border" style="height: 100px">
                        X
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="col-3">

        <!-- RIGHT PLAYER -->
        <div class="row border"><p>USERNAME</p></div>
        <div class="row border">
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
            <div class="col-8 border"><p>ICON</p></div>
        </div>

        <!-- RIGHT BOT -->
        <div class="row border mt-5"><p>USERNAME</p></div>
        <div class="row border">
            <div class="col-4">
                <div class="row border"><p>X</p></div>
                <div class="row border"><p>X</p></div>
            </div>
            <div class="col-8 border"><p>ICON</p></div>
        </div>
        
        <!-- BOT CARDS -->
        <div class="row border mt-3" style="height: 80px">CARDS</div>
    </div>


    <div class="col-1"></div>
</div>

<hr>
